@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  background-color: #333;
}

body::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #f5f5f5;
}

p {
  font-size: clamp(14px, 2vw, 18px);
  line-height: 180%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: #f5f5f5;
  font-size: 18px;
}

.wrapper__parallax {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  background: #200000;
  z-index: 0;
}
.wrapper__parallax img {
  position: absolute;
  width: 100%;
  pointer-events: none;
  animation: parallax linear;
  animation-timeline: scroll();
}
.wrapper__parallax h1 {
  font-size: 160px;
  position: fixed;
  margin: 8% 0 0 10%;
  font-weight: 400;
  --parallax-speed: 1;
}
.wrapper__parallax h2 {
  font-size: 60px;
  position: fixed;
  margin: 28% 0 0 10%;
  font-weight: 200;
  --parallax-speed: 1;
}
.wrapper__parallax button {
  position: fixed;
  margin: 38% 0 0 10%;
  width: 300px;
  height: 50px;
  --parallax-speed: 1.5;
}

.fon {
  --parallax-speed: -3;
}

.byri_fon {
  --parallax-speed: -1;
}

.byri_gif {
  --parallax-speed: 1;
}

.dune {
  position: relative !important;
  --parallax-speed: 0.5;
}

.dune_z {
  bottom: 0;
}

.people {
  --parallax-speed: 0.8;
}

.hero {
  --parallax-speed: 1;
}

.ef {
  --parallax-speed: 0.5;
}

@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallax-speed) * 200px));
  }
}
.arrow {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 200px;
  bottom: 0;
  background: linear-gradient(rgba(32, 0, 0, 0), #200000);
}
.arrow img {
  width: 40px;
  animation: slide1 1s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

@keyframes slide1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 10px);
  }
}
.location {
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(#200000, #6c1600);
  display: flex;
  flex-flow: column;
  align-items: center;
  z-index: 2;
}

.location__content {
  width: 1100px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 50px;
}
.location__content img {
  width: 450px;
  animation: rotateF linear;
  animation-timeline: scroll();
}

@keyframes rotateF {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}
.location__img {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 80px;
}
.location__img img {
  width: 350px;
  height: 250px;
  border-radius: 25px;
}

.transition {
  width: 100%;
  margin: -60px 0;
  background: linear-gradient(#681500, hsla(0, 0%, 100%, 0));
  z-index: 2;
}

.revers {
  transform: rotate(180deg);
  margin-top: -55px;
}

.heroes {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(25deg, #007382, #4fb3aa);
  background-size: cover;
  width: 100%;
  height: 1020px;
  z-index: 1;
}

.heroes__content {
  width: 1110px;
}

.author {
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(#200000, #6c1600);
  display: flex;
  flex-flow: column;
  align-items: center;
  z-index: 1;
}