* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

@font-face {
  font-family: "Strong";
  src: url(./assets/fonts/Strong-Regular.ttf);
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  background-color: #333;
}

body::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #f5f5f5;
}

h2 {
  font-weight: normal;
  font-size: 40px;
  color: #f5f5f5;
}

p {
  font-size: clamp(14px, 2vw, 18px);
  line-height: 180%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  min-height: 60px;
  margin-top: 2%;
  border-radius: 360px;
  background: #ad1a1b;
  margin-bottom: 10%;
  border: 2px solid #ad1a1b;
  box-shadow: 0px 0px 40px 1px rgba(255, 255, 255, 0.2);
}
button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 60px;
  font-family: "Strong";
  font-weight: 100;
  color: #f5f5f5;
  font-size: clamp(14px, 2vw, 18px);
  border-radius: 360px;
  text-decoration: none;
}
button:hover {
  color: #f5f5f5;
  background: #881010;
  border: 2px solid #881010;
}

.vk {
  background-color: #0077ff;
  border: 2px solid #0077ff;
}
.vk:hover {
  color: #f5f5f5;
  background: #0062d3;
  border: 2px solid #0062d3;
}

.tg {
  background-color: #2AABEE;
  border: 2px solid #2AABEE;
}
.tg:hover {
  color: #f5f5f5;
  background: #1a87c2;
  border: 2px solid #1a87c2;
}

.box {
  --border-angle: 0turn;
  --main-bg: conic-gradient(
  	from var(--border-angle),
  	#213,
  	#112 5%,
  	#112 60%,
  	#213 95%
  );
  border: solid 5px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(
  	from var(--border-angle),
  	transparent 25%,
  	#00ffea,
  	#fd0303 99%,
  	transparent
  );
  background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 3s linear infinite;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  font-family: "Strong";
  font-weight: 400;
  color: #f5f5f5;
  font-size: 18px;
}

.wrapper__parallax {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  background: #200000;
  z-index: 0;
}
.wrapper__parallax img {
  position: absolute;
  width: 100%;
  pointer-events: none;
  animation: parallax linear;
  animation-timeline: scroll();
}
.wrapper__parallax h1 {
  font-size: 12em;
  position: fixed;
  margin: 10% 25%;
  width: 1100px;
}
.wrapper__parallax h2 {
  font-size: 4rem;
  position: fixed;
  margin: 25% 25%;
  width: 1100px;
}

.buttons {
  position: fixed;
  margin: 32% 25%;
  display: flex;
  gap: 30px;
}

.forest {
  width: 100%;
  position: fixed;
  bottom: 48%;
}

.fon {
  --parallax-speed: 8;
}

.byri_fon {
  --parallax-speed: -2;
}

.byri_gif {
  --parallax-speed: 1;
}

.dune {
  position: relative !important;
  --parallax-speed: 0.5;
}

.dune_z {
  bottom: 0;
}

.people {
  --parallax-speed: 2;
}

.hero {
  --parallax-speed: 3;
}

.ef {
  opacity: 0.6;
  --parallax-speed: 2;
}

@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallax-speed) * 200px));
  }
}
.arrow {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 200px;
  bottom: 0;
  background: linear-gradient(rgba(32, 0, 0, 0), #200000);
}
.arrow img {
  width: 40px;
  animation: slide1 1s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

@keyframes slide1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 10px);
  }
}
.location {
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(#200000, #6c1600);
  display: flex;
  flex-flow: column;
  align-items: center;
  z-index: 2;
}

.location__content {
  width: 1100px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.location__content img {
  width: 370px;
  animation: rotateF linear;
  animation-timeline: scroll();
}

@keyframes rotateF {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}
.location__img {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 80px;
}
.location__img img {
  width: 350px;
  height: 250px;
  border-radius: 25px;
}

.heroes {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: url(./assets/materials/sky.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: -5% 0;
  z-index: 2;
}

.heroes__content {
  width: 1100px;
  padding: 250px 0 0 0;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  gap: 80px;
}
.heroes__content img {
  width: 200px;
}

.heroes__img {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 80px;
}
.heroes__img img {
  border-radius: 360px;
}

.gerd {
  width: 200px;
  height: 200px;
}

.sandal {
  margin-top: 10px;
  width: 120px;
  height: 120px;
}

.elza {
  width: 100px;
  height: 100px;
}

.dictator {
  margin-top: 40px;
  width: 150px;
  height: 150px;
}

.author {
  width: 100%;
  height: 700px;
  padding: 150px 0;
  background: #ad1a1b;
  display: flex;
  flex-flow: column;
  align-items: center;
  z-index: 1;
}

.dune-fon {
  position: absolute;
  width: 100%;
  background: #ad1a1b;
  z-index: -1;
}

.author__content {
  width: 1100px;
  display: flex;
  align-items: center;
  gap: 80px;
  margin-bottom: 50px;
}
.author__content img {
  width: 370px;
}

a {
  color: #fff;
  -webkit-text-decoration: underline #fff;
          text-decoration: underline #fff;
}

.camp {
  height: 102vh;
  width: 100%;
  background: linear-gradient(-25deg, #007382, #4fb3aa);
}