// Base style
@import './base/reset';
@import './base/vars';
@import './base/base';

body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;

	font-family: $font-main;
	font-weight: 400;
	color: $white;
	font-size: 18px;
}

// 1 БЛОК
.wrapper__parallax {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	background: #200000;
	z-index: 0;

	img {
		position: absolute;
		width: 100%;
		pointer-events: none;
		animation: parallax linear;
		animation-timeline: scroll();
	}

	h1 {
		font-size: 12em; // заменить переменными
		position: fixed;
		margin: 10% 25%;
		width: 1100px;
		// --parallax-speed: 1;
	}

	h2 {
		font-size: 4rem; // заменить переменными
		position: fixed;
		margin: 25% 25%;
		width: 1100px;
		// --parallax-speed: 1;
	}
}

.buttons {
	position: fixed;
	margin: 32% 25%;
	display: flex;
    gap: 30px;
}

.forest {
	width: 100%;
	position: fixed;
	bottom: 48%;
}

.fon {
	--parallax-speed: 8;
}
.byri_fon {
	--parallax-speed: -2;
}
.byri_gif {
	--parallax-speed: 1;
}
.dune {
	position: relative !important;
	--parallax-speed: 0.5;
}
.dune_z {
	bottom: 0;
}
.people {
	--parallax-speed: 2;
}
.hero {
	--parallax-speed: 3;
}
.ef {
    opacity: 0.6;
	--parallax-speed: 2;
}

@keyframes parallax {
	to {
		transform: translateY(calc(var(--parallax-speed) * 200px));
	}
}

.arrow {
	position: absolute;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	height: 200px;
	bottom: 0;
	background: linear-gradient(#20000000, #200000);

	img {
		width: 40px;
		animation: slide1 1s ease-in-out infinite;
		animation-direction: alternate-reverse;
	}
}

@keyframes slide1 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(0, 10px);
	}
}

// 2 БЛОК — локации
.location {
	width: 100%;
	padding: 80px 0;
	background: linear-gradient(#200000, #6c1600);
	display: flex;
	flex-flow: column;
	align-items: center;
	z-index: 2;
}

.location__content {
	width: 1100px;
	display: flex;
	align-items: center;
	margin-bottom: 50px;

	img {
		width: 370px;
		animation: rotateF linear;
		animation-timeline: scroll();
	}
}

@keyframes rotateF {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-25deg);
	}
}

.location__img {
	width: 1100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 25px;
	margin-bottom: 80px;

	img {
		width: 350px;
		height: 250px;
		border-radius: 25px;
	}
}

// 3 БЛОК — герои
.heroes {
	display: flex;
	flex-flow: column;
	align-items: center;
	background: url(./assets/materials/sky.png);
	background-size: cover;
	width: 100%;
	height: 100vh; // временно
	margin: -5% 0;
	z-index: 2;
}

.heroes__content {
	width: 1100px;
	padding: 250px 0 0 0;
	display: flex;
	align-items: center;
	margin-bottom: 80px;
	gap: 80px;

	img {
		width: 200px;
	}
}

.heroes__img {
	width: 1100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 25px;
	margin-bottom: 80px;

	img {
		border-radius: 360px;
	}
}

.gerd {
	width: 200px;
	height: 200px;
}

.sandal {
	margin-top: 10px;
	width: 120px;
	height: 120px;
}

.elza {
	width: 100px;
	height: 100px;
}

.dictator {
	margin-top: 40px;
	width: 150px;
	height: 150px;
}

// 4 БЛОК — автор

.author {
	width: 100%;
	height: 700px;
	padding: 150px 0;
	background: #ad1a1b;
	display: flex;
	flex-flow: column;
	align-items: center;
	z-index: 1;
}

.dune-fon {
	position: absolute;
	width: 100%;
	background: #ad1a1b;
	z-index: -1;
}

.author__content {
	width: 1100px;
	display: flex;
	align-items: center;
	gap: 80px;
	margin-bottom: 50px;

	img {
		width: 370px;
	}
}

a {
	color: #fff;
	text-decoration: underline #fff;
}

// 5 БЛОК — лагерь
.camp {
	height: 102vh;
	width: 100%;
	background: linear-gradient(-25deg, #007382, #4fb3aa);
}

// // 6 БЛОК — футер
// .futter {
// 	height: 100px;
// 	width: 100%;
// 	background: #200000;
// 	z-index: 2;
// }
