// скроллбар:
body::-webkit-scrollbar {
	width: 12px;
}

body::-webkit-scrollbar-track {
	// скроллбар
	background-color: transparent;
	background-color: #333;
}

body::-webkit-scrollbar-thumb {
	// маркер
	border-radius: 25px;
	background-color: #f5f5f5;
}

// общие настройки
h2 {
	// font-family: $font-main;
	font-weight: normal;
	font-size: 40px; // заменить переменными
	color: #f5f5f5;
}

p {
	font-size: $text;
	line-height: $line;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	min-height: 60px;
	margin-top: 2%;
	border-radius: 360px;
	background: #ad1a1b;
	margin-bottom: 10%;
	border: 2px solid #ad1a1b;
	box-shadow: 0px 0px 40px 1px #ffffff33;

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 300px;
		height: 60px;
		font-family: $font-main;
		font-weight: 100;
		color: $white;
		font-size: $text;
		border-radius: 360px;
		text-decoration: none;
	}

	&:hover {
		color: $white;
		background: #881010;
		border: 2px solid #881010;
	}
}

.vk {
	background-color: #0077ff;
	border: 2px solid #0077ff;

	&:hover {
		color: $white;
		background: #0062d3;
		border: 2px solid #0062d3; 
	}
}

.tg {
	background-color: #2AABEE;
	border: 2px solid #2AABEE;

	&:hover {
		color: $white;
		background: #1a87c2;
		border: 2px solid #1a87c2; 
	}
}



// Анимация иконки person:
.box {
	--border-angle: 0turn; // For animation.
	--main-bg: conic-gradient(
		from var(--border-angle),
		#213,
		#112 5%,
		#112 60%,
		#213 95%
	);

	border: solid 5px transparent;
	border-radius: 2em;
	--gradient-border: conic-gradient(
		from var(--border-angle),
		transparent 25%,
		#00ffea,
		#fd0303 99%,
		transparent
	);

	background: var(--main-bg) padding-box, var(--gradient-border) border-box,
		var(--main-bg) border-box;

	background-position: center center;

	animation: bg-spin 3s linear infinite;
	@keyframes bg-spin {
		to {
			--border-angle: 1turn;
		}
	}

	// &:hover {
	// 	animation-play-state: paused;
	// }
}

@property --border-angle {
	syntax: '<angle>';
	inherits: true;
	initial-value: 0turn;
}
