// .roboto-mono {
//   font-family: "Roboto Mono", monospace;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }

// @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
	font-family: 'Strong';
	src: url(./assets/fonts/Strong-Regular.ttf);
}

// Fonts
$font-main: 'Strong';
$font-accent: '';
$font-secondary: '';

//  Colors
$dark: #111;
$white: #f5f5f5;

// Font-size
$big-title: clamp(44px, 2vw, 64px);
$title-main: clamp(24px, 2vw, 56px);
$title: clamp(18px, 2vw, 24px);
$text: clamp(14px, 2vw, 18px);

// Line-height
$line: 180%;